@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(214.3 31.8% 91.4%);
  }

  body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #f4f4f4;
    color: hsl(222.2 84% 4.9%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
